@page "/todo"
@rendermode InteractiveServer

<LiveDatetime />

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<input @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todos = new();
    string newTodo = "";

    void AddTodo() {
        if (!string.IsNullOrWhiteSpace(newTodo)) {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}


@* Render an unordered list of all the to-dos using foreach loop in C# *@
<ul>
    @foreach (var todo in todos) {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>