@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: (@currentCount)</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    @* Creating a items list in blazor *@
    private List<string> fruits = new List<string> { "Apple", "Banana", "Orange" };
    private List<string> vegetables = new List<string> { "Carrot", "Potato", "Tomato" };
}


@if (currentCount > 3) {
    <p>You win!</p>
}

@* This is a comment *@





<ul>
    @foreach (var number in Enumerable.Range(1, 10)) 
    {
        <li>@number</li>
    }
</ul>

<h4>Fruit List</h4>
<ul>
    @foreach (var fruit in fruits) {
        <li>@fruit</li>
    }
</ul>

<h4>Vegetable List</h4>
<ol>
    @foreach (var veg in vegetables) {
        <li>@veg</li>
    }
</ol>
